# App
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=

# Database
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# OAuth providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Uploads
UPLOADTHING_TOKEN=
